$btn-color: #0038ae; 
@mixin li-tag {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.3em 0.5em;
        font-size: 21px;
        margin: 0.2em 0;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 2px 2px 7px rgba($color: #000000, $alpha: 0.3);
      
        .flex-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .num {
            min-width: 4ch;
            text-align: end;
          }
          .flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 2em;
      
            .btn {
              background-color: $btn-color;
              outline: none;
              border: none;
              width: auto;
              height: 100%;
              border-radius: 5px;
              cursor: pointer;
              box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.4);
            }
            .cross {
              color: #fff;
              padding: 0 0.5em;
              font-weight: bold;
              font-size: 1em;
            }
          }
        }
  
}

@mixin h1 {
  color: #fff;
    text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.3);
}